body {
    /*overflow: hidden;*/
    position: static;
    width: 100vw;
    /*height: 100vh;*/
}

.noscroll {
    overflow: hidden;
}

/* hide tilte in navbar for animation */
#logo {
    display: none;
}


/* PART 1 */

#part1 {
    padding: 0;
    height: 100vh;
}

nav {
    background: transparent !important;
    -webkit-transition: background 0.9s;
    transition: background 0.9s;
}

#homebg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: radial-gradient(#03A64A 0%, #03A64A 20%, #026F2A 100%);
}

#voro {
    font-size: 8rem;
    font-family: 'Questrial', sans-serif;
}

img {
    width: 8rem; /* h1 font-size */
    height: 8rem; /* h1 font-site */
}

#lowerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: transform 0.6s;
    transition: transform 0.6s;
}

#home-title {
    position: fixed;
    z-index: 998;
    -webkit-transition: transform 0.6s;
    transition: transform 0.6s;
}

.middle {    
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.corner {
    transform: translate(0, 0);
}

.corner #lowerTitle {
    transform: translate(0, -2.6rem);  /* der genaue Wert wurde durch Magie ermittelt - aka abgeschätzt */
}

#home-title #voro {
    -webkit-transition: margin-left 0.8s;
    transition: margin-left 0.8s;
}

.corner #voro {
    margin-left: 4rem;
}

#down_btn {
    position: absolute;
    bottom: 10vh;
    left: 50vw;
    transform: translate(-50%, 0);
    background: transparent;
    border-radius: 100%;
    text-decoration: none;
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

#down_btn i {
    font-size: 3.75vh;
    color: #404040;
}

#down_btn:hover {
    cursor: pointer;
    background: #13B65A;
    /*transform: translate(-50%, 20%);*/
    bottom: 9.25vh;
}

#down_btn:hover i {
    color: #404040;
}

/* PART 2 */

#part2 {
    height: 100vh;
    padding-top: 6vh; /* Höhe der navbar, da diese jetzt fixed ist */
}

.active {
    background: #03A64A !important;
}

#scale {
    font-size: 2.5vh !important;
    line-height: 2.5vh !important;
    font-family: 'Roboto', sans-serif;
    display: none;
}


/* link blocks ('Learn More' and 'Use Voronoia') */
#link-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

#link-wrapper div {
    float: left;
    margin: 0 3rem;
}


@media screen and (max-width: 993px) {
    
    #logo {
        display: block;
    }
    
    #voro {
      font-size: 4.5rem;
    }

    #lowerTitle img {
        width: 6rem;
        height: 6rem;
    }

    #home-title {
        z-index: inherit;
    }
  }


footer {
    display: none;
}