/* nav bar */

#logo {
    display: flex;
    align-items: center;
}

#logo i {
    /*width: 4.2rem;
    height: 3.3rem;
    margin-left: 2rem;
    margin-right: 1rem;*/
    margin: 0 15px;
    font-size:  2.3rem;
}

nav li a {
    padding: 0 2rem !important;
    font-size: 1.3rem !important;
}


/* content */

#content {
    padding: 0 30vw;
}

h1 {
    margin-bottom: 4rem !important;
}

.btn {
    text-transform: unset !important;
}


.input-field {
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
}


#submit-btn {
    margin-top: 2.5rem !important;
}


#viewport {
    width: 40vw;
    height: 60vh;
    background: snow;
}


#error-msg {
    color: red;
    font-size: 1.5rem;
}