/* nav bar */

#logo {
    display: flex;
    align-items: center;
}

#logo i {
    /*width: 4.2rem;
    height: 3.3rem;
    margin-left: 2rem;
    margin-right: 1rem;*/
    margin: 0 15px;
    font-size:  2.3rem;
}

nav li a {
    padding: 0 2rem !important;
    font-size: 1.3rem !important;
}


/* content */

#content {
    padding: 0 20vw;
}

h1 {
    margin-bottom: 4rem !important;
}

.btn, .btn-small {
    text-transform: unset !important;
}


.input-field {
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
}


#submit-btn {
    margin-top: 2.5rem !important;
}


#viewport {
    width: 40vw;
    height: 60vh;
    background: snow;
}


#error-msg {
    color: red;
    font-size: 1.5rem;
}

#pos-box {
    height: 100%;
}

.additional {
    display: none !important;
}


/* submit */

#filter-btn {
    margin-bottom: 2.5rem;
}

#radio-title {
    font-size: 1.2rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#radio-field {
    margin-top: 0 !important;
}

.codebox {
        /* Below are styles for the codebox (not the code itself) */
        border:1px solid black;
        background-color:#EEEEFF;
        width:100%;
        overflow:auto;    
        padding:10px;
    }
    .codebox code {
        /* Styles in here affect the text of the codebox */
        font-size:0.9em;
        /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
    }
